button {
  background-color: #141e30;
  border: none;
  position: relative;
  display: inline-block;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

button:hover {
  background-color: #03e9f4;
  color: white;
}
